.fundo {
    justify-content: center;
    align-items: center;
}

h2.textformficha {
    font-size: 22px;
    font-family: "Ubuntu";
    margin-top: 50px;
}

ion-button {
  margin: 30px 0px;
}

ion-datetime {
  height: 120px;
}

h1.textformficha {
    font-size: 22px;
    margin: 30px auto;
    margin-bottom: -7px;
}

.rotulo {
    font-size: 22px;
    font-family: "Ubuntu";
}

.container-input {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    h1 {
      font-size: 25px;
    }

    ion-input {
      border-radius: 50%;
      border: 3px solid var(--ion-color-primary);
      color:black;
      font-size: 22px;
      font-family: 'Fugaz One';
      text-align: center;
      background: transparent;
      --padding-start: 0px !important;
      --padding-top: 12px !important;
      max-height: 45px;
      min-height: 45px;
      min-width: 45px;
      max-width: 45px;
    }
}

ion-radio-group {

    display: flex;
    transform: translateX(-10px);
    flex-direction: row;

    ion-radio {
        margin: 35px 35px;
    }

    ion-label {
      position: relative;
      left: -38px;
      top: -15px;
      z-index: 99;
      font-size: 30px;
      color: white;
    }


    ion-radio::part(container) {
        min-width: 60px;
        min-height: 60px;
        
        border-radius: 50%;
        border: 2px solid #fff;
        background-color: rgba(77, 66, 255, 0.4);
      }
      
      ion-radio::part(mark) {
        background: none;
        transition: none;
        transform: none;
        border-radius: 0;
      }
      
      ion-radio.radio-checked::part(container) {
        background: var(--ion-color-primary);
        border-color: transparent;
      }
      
      ion-radio.radio-checked::part(mark) {
        width: 12px;
        height: 20px;
      }


}