img {
    border-radius: 20px;
    margin: 5px auto;
    margin-top: 15px;
}

h4 {
    font-size: 14px;
    margin: 3px 0px;
    color: var(--ion-color-primary);
}

h5 {
    font-size: 14px;
    margin: 3px 0px;
    color: #8C8C8C;
}

p {
    margin: 15px auto;
}

.span-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ion-button {
    margin: 30px auto;
}