.fundo{
    padding: 60px 0px 25px 0px;
}

.container-left {
    margin-left: 25px;
}

.content-exe {
    padding: 0px 25px;
}

img {    
    margin: 5px auto;
    min-width: 100%;
    margin-top: 15px;
}

h4 {
    font-size: 14px;
    margin: 3px 0px;
    color: var(--ion-color-primary);
}

h5 {
    font-size: 14px;
    margin: 3px 0px;
    color: #8C8C8C;
}

p {
    margin: 15px auto;
}

.span-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

ion-button {
    margin: 30px auto;
}