<ion-content>
  
  <div class="fundo">
    <div class="container-left">
        <ion-back-button text="" defaultHref="window.location" (click)="service.voltar()"></ion-back-button>
        <h1 class="top">Detalhes</h1>
      <p></p>
    </div>

    <img referrerpolicy=“no-referrer” id="fotoperfil" src="{{exercicioImg}}"/>
    <h2>{{exercicioNome}}</h2>
    <span *ngFor="let cat of categorias | async"><h5 *ngIf="exercicioCat==cat.uid">Tipo de Exercício: {{cat.nome}}</h5></span>
    <h4>Área de Treino: {{exercicioRegiao}}</h4>
    <p>{{exercicioDesc}}</p>

    <span class="span-button" *ngFor="let cat of categorias | async"><ion-button *ngIf="exercicioCat==cat.uid" id="addExeFicha" (click)="presentAlertAdd(exercicioUid, cat.uid)">Adicionar para Ficha</ion-button></span>

  </div>
  
  </ion-content>
  