<ion-content>
  
  <div class="fundo" *ngFor="let exercicio of exercicios | async">
    <div class="container-left">
        <ion-back-button text="" defaultHref="window.location" (click)="service.voltar()"></ion-back-button>
        <h1 class="top">Detalhes</h1>
      <p></p>
    </div>

    <img referrerpolicy=“no-referrer” id="fotoperfil" src="{{exercicio.img2}}"/>
    <h2>{{exercicio.nome}}</h2>
    <span *ngFor="let cat of categorias | async"><h5 *ngIf="exercicio.categoria==cat.uid">Tipo de Exercício: {{cat.nome}}</h5></span>
    <h4>Área de Treino: {{exercicio.regiao}}</h4>
    <p>{{exercicio.descricao}}</p>

    <span class="span-button" *ngFor="let cat of categorias | async"><ion-button *ngIf="exercicio.categoria==cat.uid" id="addExeFicha" (click)="presentAlertAdd(exercicio.uid, cat.uid)">Adicionar para Ficha</ion-button></span>

  </div>
  
  </ion-content>
  