<ion-content>

  <div class="roxo">
    <div id="elipse1"></div>
    <div id="elipse2"></div>
    <h4>PULAR</h4>
    <img src="../assets/img/slide1-image.png">
    <h1>Seja Forte & Seja Fitness</h1>
    <p>Com o nosso aplicativo
    Alcance os seus objetivos almejados
    com simplicidade e clareza.</p>

    <div class="container-bolinhas">
      <div class="bolinha"><p></p></div>
      <div class="bolinha"><p></p></div>
      <div class="bolinha"><p></p></div>
    </div>

    <div class="container-setinhas" [routerLink]="['/login']">
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>

  </div>
     
</ion-content>


