.fundo {
    justify-content: center;
    background-color: #f3f4f5;
    position: relative;
    z-index: -9;
}

p.noficha {
    margin-top: 40%;
}

.noficha-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 30px;
    padding: 30px 30px;
    background-color: #3225ff;
    border-radius: 15px;

    p {
        font-size: 17px;
        text-align: center;
        margin-top: 10px;
        color: white;
    }
    
    img {
        min-width: 200px;
        max-width: 200px;
        margin: 30px 0px;
    }
}

.container-novaficha {

    width: 100%;
    margin: auto;
    margin-top: 20px;
    height: 250px;
    border-radius: 15px;
    border: 3px solid var(--ion-color-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2 {
        font-size: 22px;
        font-weight: bold;
        text-align: center;
    }

    ion-icon {
        color: var(--ion-color-primary);
        font-size: 80px;
    }
}

.container-exercicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px 0px;

    .container-exercicio {

        border-bottom: 1px solid #CDCDCD;
        margin: 7px 0px;

        .exercicio-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 5px 0px;

            .exercicio-title {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;

                h1 {
                    font-size: 13px;
                    margin: 0px 15px;
                    margin-top: 2px;
                    text-transform: uppercase;
                    margin-left: 10px;
                }

                strong {
                    font-size: 13px;
                }
            }

            .exercicio-categoria {

                p {
                    font-size: 12px;
                }
            }
        }

        .exercicio-info2 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 15px;

            h1 {
                font-size: 13px;
                text-transform: uppercase;
                margin: 2px auto;
            }

            }
    }
}

.container-novoexercicio {

        width: 100%;
        min-height: 50px;
        max-height: 50px;
        background-color: #F5F5F5;
        margin: 20px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        padding: 0;
        border-radius: 12px;

    h2 {
        font-size: 16px !important;
        margin: 0 !important;
    }

    ion-icon {
        color: var(--ion-color-primary);
        font-size: 30px;
        margin: 0px 3px;
    }
}

.ficha-info-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px auto;

    .ficha-info {
        font-size: 14px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        ion-icon {
            margin: 0px 2px;
        }

        P {
            font-family: 'Ubuntu';
            font-weight: bold;
        }
    }
}

.button-ficha {
    
    display: flex;
    height: 36px;
    padding: 0px 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 20px;
    margin-top: auto;

    ion-icon {
        margin: 0px 3px;
        font-size: 15px;
        color: #202020;
    }

    P {
        font-size: 13px;
        color: #202020;
        margin-bottom: 2px;
        font-family: 'Ubuntu';
        font-weight: bold;
    }
}

.container-fichas {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    .span {
        width: 100% !important;
    }

    .ficha {
        background: #fff;
        box-shadow: 0px 20px 30px 0px #c3c3c3;
        width: 100%;
        min-height: 350px;
        margin: 60px 0px;
        margin-bottom: 10px;
        padding: 20px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        overflow: visible;

        ion-ripple-effect {
            border-radius: 15px;
        }

        .rotulo-box {
            position: absolute;
            left: 13px;
            background-color: var(--ion-color-primary);
            top: -38px;
            min-width: 60px;
            min-height: 60px;
            max-width: 60px;
            max-height: 60px;
            display: flex;
            z-index: -1;
            padding: 6px;
            justify-content: center;
            font-size: 26px;
            font-family: "Ubuntu";
            color: white;
            border-radius: 16px;
        }

        h2 {
            font-size: 20px;
            font-family: 'Ubuntu';
            text-align: center;
            font-weight: bold;
        }

        h5{
            font-size: 16px;
            font-family: 'Fugaz One';
            text-align: center;
            color: var(--ion-color-primary);
            text-transform: uppercase;
            margin: 0;
        }
    }
}