<ion-content>
  
<div class="fundo">
  <div class="container-left">
      <ion-back-button text="" defaultHref="window.location" (click)="service.voltar()"></ion-back-button>
      <h1 class="top">Meu Treino</h1>
    <p></p>
  </div>

  <div class="container-fichas" *ngIf="(fichas | async)?.length ; else nofichas">
      <div class="ficha" *ngFor="let ficha of fichas | async">

        <div class="rotulo-box">{{ficha.rotulo}}</div>

        <h2>FICHA DE TREINO</h2>
        <ng-container *ngIf="(exercicios | async)?.length"><h5>Com exercícios</h5></ng-container>

        <div class="ficha-info-container">
          <div class="ficha-info">
            <ion-icon name="alarm-outline"></ion-icon>
            <p>{{ficha.descanso}}</p>
          </div>
        </div>
        
        <span *ngIf="(exercicios | async)?.length; else noexercicios">

          <div class="container-exercicios">
            <ng-container *ngFor="let exe of exercicios | async ; let i = index">

              <div class="container-lr container-exercicio" *ngIf="exe.ficha==ficha.uid" [attr.data-index]="i">

                <div class="exercicio-info" >
                  <div class="exercicio-title">
                    <strong>{{ficha.rotulo}}{{i+1}}</strong>
                    <span class="w-auto" *ngFor="let exercicio of exerciciosBanco | async"><h1 *ngIf="exe.exercicio==exercicio.uid">{{exercicio.nome}}</h1></span>
                  </div>
                  <div class="exercicio-categoria">
                    <span *ngFor="let exercicio of exerciciosBanco | async"><span *ngIf="exe.exercicio==exercicio.uid"><span *ngFor="let cat of categorias | async"><p *ngIf="exercicio.categoria==cat.uid">{{cat.nome}}</p></span></span></span>
                  </div>
                </div>
  
                <div class="exercicio-info2">                
                  <span><strong *ngIf="exe.ficha==ficha.uid">{{exe.series}}x{{exe.repeticoes}}</strong></span>
                  <span><h1 *ngIf="exe.ficha==ficha.uid">{{exe.peso}}KG/B</h1></span>
                </div>
              </div>

            </ng-container>
            

          </div>

        </span>

        <div class="button-ficha ion-activatable" (click)="detalharFicha(ficha.uid, ficha.rotulo)">
          <ion-icon name="document-outline"></ion-icon>
          <p>Abrir Ficha</p>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
  </div>

  <hr>

  <div class="container-novaficha ion-activatable" (click)="service.navegar('criaficha')">
    <h2>Criar nova Ficha de Treino</h2>
    <ion-icon name="add-circle"></ion-icon>
    <ion-ripple-effect class="primary"></ion-ripple-effect>
  </div>

  <ng-template #nofichas>
    <div class="noficha-div ion-activatable" (click)="service.navegar('criaficha')">
      <p class="noficha">Você ainda não possui ficha de treino. Crie agora mesmo uma!</p>
      <img src="../assets/img/noficha.png" />
      <ion-ripple-effect></ion-ripple-effect>
    </div>
  </ng-template>

  <ng-template #noexercicios>
      <h5>Sem exercícios</h5>
        <div class="container-novoexercicio ion-activatable" (click)="service.navegar('exercicios')">
          <h2>Adicionar Exercícios à Ficha</h2>
          <ion-icon name="add-circle"></ion-icon>
          <ion-ripple-effect class="primary"></ion-ripple-effect>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
  </ng-template>




</div>

</ion-content>
