<ion-content>
  
<div class="fundo">
  <div class="container-left">
      <ion-back-button text="" defaultHref="home"></ion-back-button>
      <h1 class="top">Meu Treino</h1>
    <p></p>
  </div>

  <p class="noficha">Você ainda não possui ficha de treino. Crie agora mesmo uma!</p>

  <div class="container-novaficha ion-activatable" (click)="service.navegar('criaficha')">
      <h2>Criar nova Ficha de Treino</h2>
      <ion-icon name="add-circle"></ion-icon>
      <ion-ripple-effect class="primary"></ion-ripple-effect>
  </div>




</div>

</ion-content>
