<ion-content>
  
  <div class="fundo" *ngFor="let ficha of fichas | async">
    <div class="container-left">
        <ion-back-button text="" defaultHref="window.location" (click)="service.voltar()"></ion-back-button>
        <h1 class="top">Treino {{ficha.rotulo}}</h1>

      <ng-container *ngIf="state == 'stop'; else timerStart">
      <div class="ficha-control">
        <div class="caixa-icon ion-activatable" (click)="editarFicha(ficha.uid)">
          <ion-icon name="pencil-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="caixa-icon ion-activatable" (click)="modalDeleteFicha(ficha.rotulo)">
          <ion-icon name="trash"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ng-container>

    <ng-template #timerStart>
      <div class="ficha-control">
      <ion-button (click)="alertPararTreino()">{{ time | async }}</ion-button>
      </div>
    </ng-template>

    </div>

    <div #fichacaixa class="ficha-caixa">
      <div class="container-info">

        <div class="rotulo">{{ficha.rotulo}}</div>
        
        <div class="container-info-dados">
          <div class="ficha-dado">
            <ion-icon name="alarm-outline"></ion-icon>
            <p>Tempo Descanso: {{ficha.descanso}}</p>
          </div>
          <div class="ficha-dado">
            <ion-icon name="flame-outline"></ion-icon>
            <p>Frequência: {{ficha.series}}x{{ficha.repeticoes}}</p>
          </div>
        </div>
      </div>

      <ng-container *ngIf="lengthExercicios==0">
        <div class="noexercicio-div">
        <p>Não há exercícios por aqui.</p>
        <img src="../assets/img/noexercicioficha.png" />
        </div>
      </ng-container>

      <ng-container *ngIf="state == 'stop'">
      <ion-button (click)="startTimer()">COMEÇAR</ion-button>
      </ng-container>

      <ng-container *ngFor="let cat of categoriasList">
        <ng-container *ngFor="let categoria of categorias | async">
      <div class="container-categoria" *ngIf="cat==categoria.uid">
        <ion-icon mode="md" name="barbell"></ion-icon>
        <h1>{{categoria.nome}}</h1>
      <p></p>
      </div>
        </ng-container>

      <ng-container *ngFor="let exe of exercicios | async">
      <div class="container-exercicio ion-activatable" *ngIf="exe.categoria==cat" (click)="clickExercicio(exe.exercicio, exe.repeticoes)">
        <div class="exercicio-info" >
          <div class="exercicio-title">
            <strong>{{ficha.rotulo}}</strong>
            <ng-container class="w-auto" *ngFor="let exercicio of exerciciosBanco | async"><h1 *ngIf="exe.exercicio==exercicio.uid">{{exercicio.nome}}</h1></ng-container>
          </div>
          <div class="exercicio-categoria">
            <span *ngFor="let exercicio of exerciciosBanco | async"><span *ngIf="exe.exercicio==exercicio.uid" class="flex-row"><ion-icon name="accessibility-outline"></ion-icon><p>{{exercicio.regiao}}</p></span></span>
          </div>
        </div>

        <div class="exercicio-info2">                
          <strong *ngIf="exe.ficha==ficha.uid">{{exe.series}}x{{exe.repeticoes}}</strong>
          <h1>{{exe.peso}}KG/B</h1>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      </ng-container>

    </ng-container>
      <p></p>




      </div>

  </div>
  
</ion-content>
  