<ion-content>
  
  <div class="fundo">
    <div class="container-left">
        <ion-back-button text="" defaultHref="meutreino"></ion-back-button>
        <h1 class="top">Treino {{fichaRotulo}}</h1>

      <ng-container *ngIf="state == 'stop'; else timerStart">
      <div class="ficha-control">
        <div class="caixa-icon ion-activatable" (click)="editarFicha(fichaId)">
          <ion-icon name="pencil-outline"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
        <div class="caixa-icon ion-activatable" (click)="modalDeleteFicha(fichaRotulo)">
          <ion-icon name="trash"></ion-icon>
          <ion-ripple-effect></ion-ripple-effect>
        </div>
      </div>
    </ng-container>

    <ng-template #timerStart>
      <div class="ficha-control">
      <ion-button class="timer-button" (click)="alertPararTreino()">{{ time | async }}</ion-button>
      </div>
    </ng-template>

    </div>

    <div #fichacaixa class="ficha-caixa">
      <div class="container-info">

        <div class="rotulo">{{fichaRotulo}}</div>
        
        <div class="container-info-dados">
          <div class="ficha-dado">
            <ion-icon name="alarm-outline"></ion-icon>
            <p>Tempo Descanso: {{fichaDescanso}}</p>
          </div>
          <div class="ficha-dado">
            <ion-icon name="flame-outline"></ion-icon>
            <p>Frequência: {{fichaSeries}}x{{fichaRepeticoes}}</p>
          </div>
        </div>
      </div>

      <ng-container *ngIf="lengthExercicios==0">
        <div class="noexercicio-div">
        <p>Não há exercícios por aqui.</p>
        <img src="../assets/img/noexercicioficha.png" />
        <div class="container-novoexercicio ion-activatable" (click)="service.navegar('exercicios')">
          <h2>Adicionar Exercícios à Ficha</h2>
          <ion-icon name="add-circle"></ion-icon>
          <ion-ripple-effect class="primary"></ion-ripple-effect>
        </div>
        </div>
      </ng-container>

      <ng-container *ngIf="state == 'stop' && lengthExercicios>0">
      <ion-button (click)="startTimer()">COMEÇAR</ion-button>
      </ng-container>

      <ng-container *ngFor="let cat of categoriasList; let i = index">
        <ng-container *ngFor="let categoria of categorias">
      <div class="container-categoria" *ngIf="cat==categoria.uid">
        <ion-icon mode="md" name="barbell"></ion-icon>
        <h1>{{categoria.nome}}</h1>
      <p></p>
      </div>
        </ng-container>

      <ng-container *ngIf="exerciciosPorCategoria[cat] && exerciciosPorCategoria[cat].length">
      <ng-container *ngFor="let exe of exerciciosPorCategoria[cat]; let j = index">
      <div class="container-exercicio ion-activatable" id="{{exe.uid}}" #exe.uid *ngIf="exe.categoria==cat" (click)="clickExercicio(fichaRotulo, fichaSeries, fichaRepeticoes, fichaDescanso, exe.uid, exe.exercicio, exe.series, exe.repeticoes, exe.peso)">
        <div class="exercicio-info" >
          <div class="exercicio-title">
            <strong>{{fichaRotulo}}{{ getTotalIndex(i, j) }}</strong>
            <ng-container class="w-auto" *ngFor="let exercicio of exerciciosBanco | async"><h1 *ngIf="exe.exercicio==exercicio.uid">{{exercicio.nome}}</h1></ng-container>
          </div>
          <div class="exercicio-categoria">
            <span *ngFor="let exercicio of exerciciosBanco | async"><span *ngIf="exe.exercicio==exercicio.uid" class="flex-row"><ion-icon name="accessibility-outline"></ion-icon><p>{{exercicio.regiao}}</p></span></span>
          </div>
        </div>

        <div class="exercicio-info2">                
          <strong *ngIf="exe.ficha==fichaId">{{exe.series}}x{{exe.repeticoes}}</strong>
          <h1>{{exe.peso}}KG/B</h1>
        </div>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      </ng-container>
    </ng-container>

    </ng-container>
      <p></p>




      </div>

  </div>
  
</ion-content>
  
<!-- <ng-template #circleElement id="circleElement">
  <svg
  id="progress-circle"
  width="90%"
  height="90%"
  viewBox="0 0 200 200"
  >

  <linearGradient id="linearColors1" x1="0" y1="0" x2="1" y2="1">
  <stop offset="0%" stop-color="#ddd6f3"></stop>
  <stop offset="100%" stop-color="#faaca8"></stop>
  </linearGradient>

  <circle
  cx="50%"
  cy="50%"
  [attr.r]="circleR"
  fill="none"
  stroke="#f3f3f3"
  stroke-width="12"
  />

  <circle
  cx="50%"
  cy="50%"
  [attr.r]="circleR"
  fill="none"
  stroke="url(#linearColors1)"
  stroke-width="12"
  stroke-linecap="round"
  [attr.stroke-dasharray]="circleDasharray"
  [attr.stroke-dashoffset]="percentageOffset(percent | async)"
  />
  <text x="50%" y="55%" class="timer-text">timerLocal</text>
</svg>
</ng-template> -->