<ion-content class="tutorial-page">
  
  <ion-slides pager [options]="slideOpts">
    <ion-slide *ngFor="let slide of slides">
      <button ion-button class="bt-pular" color="primary" [routerLink]="['/login']">Pular</button> 
      <img [src]="slide.image" class="slide-image"/>
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <img src="../assets/img/logo.png" class="slide-image"/>
      <h2 class="slide-title">Comece suas Atividades</h2>
      <button ion-button large clear icon-end color="primary" [routerLink]="['/login']">
        INICIAR
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides>
</ion-content>