<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon mode="md" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="meutreino">
      <ion-icon mode="md" name="clipboard"></ion-icon>
      <ion-label>Meu Treino</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="exercicios">
      <ion-icon mode="md" name="barbell"></ion-icon>
      <ion-label>Exercícios</ion-label>
    </ion-tab-button>
     
  </ion-tab-bar>
</ion-tabs>