/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";


@font-face {
    font-family: 'Fugaz One';
    src: url('assets/font/FugazOne-Regular.ttf');
}

@font-face {
    font-family: 'Inder';
    src: url('assets/font/Inder-Regular.ttf');
}

@font-face {
    font-family: 'Ubuntu';
    src: url('assets/font/Ubuntu-Medium.ttf');
}

*{font-family: 'Inder';}

h1 {
    font-family: 'Fugaz One';
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    align-self: start;
}

h1.top {
    margin-left: 15px;
}

ion-content {
    --background: white;
    --color: black;
}

strong {
    color: var(--ion-color-primary);
}

p {
    margin: 2px 0px;
}

.fundo {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 25px;
    padding-top: 70px;
}

div.container-lr {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

div.container-left {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

ion-item {
    --ion-item-background: transparent;
    --background-color:transparent !important;
    --padding-start: 0px;
    --padding-end: 0px;
    --inner-padding-end: 0px;
}

ion-label {
    padding-left: 3px;
    margin-top: 20px;
    margin-bottom: 5px;
}

ion-icon {
    font-size: 25px;
}

ion-avatar {
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    min-height: 40px;
    margin: 5px 10px;
    margin-left: 0px;
}

ion-input {
        border-radius: 12px;
        border: 1px solid #929292;
        color:#A4A4A4;
        background: transparent;
        --padding-start: 15px !important;
        max-height: 45px;
        min-height: 45px;
        min-width: 100%;
}

ion-input:hover {
    border-color: var(--ion-color-primary);
}

ion-button {
    font-family: 'Fugaz One';
    font-size: 20px;
}

ion-back-button {
    --color: black
}

ion-ripple-effect{
    max-width: 100%;
    max-height: 100%;
}

div.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100vw;
    max-width: 600px;   
    padding: 5px 25px;
    margin: 10px 0px;

    h1 {
        margin-top: 0px;
        margin-bottom: 0px;
        margin-left: 10px;
        text-align: center;
    }
}