<ion-content>
  
  <div class="fundo">
    <div class="container-left">
        <ion-back-button text="" defaultHref="javascript:void(0);" (click)="service.voltar()"></ion-back-button>
        <h1 class="top">Exercícios</h1>
      <p></p>
    </div>

    <ion-searchbar 
    animated="true"
    placeholder="Pesquise no CoachFit"
    clear-icon="trash-bin"
    [debounce]="100"
    (ionInput)="handleInput($event)"
    ></ion-searchbar>

    <div class="container-exercicios">
      <div class="exercicio ion-activatable" *ngFor="let exe of exercicios | async">
        <img [src]="exe.img"/>
        <div class="exercicio-info" (click)="detalharExercicio(exe.uid)">
          <h1>{{exe.nome}}</h1>
          <span *ngFor="let catexe of categorias | async"><h4 *ngIf="catexe.uid==exe.categoria">{{catexe.nome}}</h4></span>
          <h5>{{exe.regiao}}</h5>
        </div>
        <ion-icon id="{{exe.uid}}" name="ellipsis-horizontal-circle-outline"></ion-icon>
        <ion-popover trigger="{{exe.uid}}" triggerAction="click">
          <ng-template>
            <div class="popContainer">
              <div class="popOption ion-activatable" *ngFor="let ficha of fichas | async" (click)="addExercicio(exe.uid, exe.categoria, ficha.uid, ficha.series, ficha.repeticoes);addExercicioToast(exe.nome, ficha.rotulo)">
                <p>Adicionar a Ficha <em>{{ficha.rotulo}}</em></p>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
              <div class="popOption ion-activatable" (click)="detalharExercicio(exe.uid)">
                <ion-icon name="document-text-outline"></ion-icon>
                <p>Ver Detalhes</p>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
              <div class="popOption ion-activatable">
                <ion-icon name="heart-outline"></ion-icon>
                <p>Favoritar Exercício</p>
                <ion-ripple-effect></ion-ripple-effect>
              </div>
            </div>
          </ng-template>
        </ion-popover>
        
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

    <div class="container-categorias">
      <div class="categoria ion-activatable" *ngFor="let cat of categorias | async">
        <img [src]="cat.img"/>
        <h5>{{cat.nome}}</h5>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
    </div>

    <hr>
    <h6 class="ion-activatable">Ver todas<ion-ripple-effect></ion-ripple-effect></h6>





  </div>
  
  </ion-content>
  