.fundo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 70px;

  div.container-lr {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      div.top-perfil {
        width: 100%;
        display: flex;
        flex-direction: row;

        div.bemvindo {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h2 {
            margin: 0;
            font-size: 18px;
          }

          h6 {
              color: #8C8C8C;
              margin: 0;
              font-size: 14px;
          }
        }

      }

  }

  .ficha {

    .ficha-title {
      display: flex;
      flex-direction: row;
    }
  }
}


