<ion-content scroll-x="false">

  <div class="fundo">
    <div class="container-lr">

        <div class="top-perfil">
            <ion-avatar><img referrerpolicy=“no-referrer” id="fotoperfil" src="https://firebasestorage.googleapis.com/v0/b/coachfit-app.appspot.com/o/perfil.png?alt=media&token=49cf5e31-07c6-4306-988a-96e80cd2f482"/></ion-avatar>
            <div class="bemvindo">
                <h2>Olá, {{user.name}}</h2>
                <h6>Bem-vindo ao seu <strong>CoachFit</strong></h6>
            </div>
        </div>

      <ion-icon name="notifications"></ion-icon>
    </div>

    <h1>SUAS FICHAS</h1>

    <ion-slides [options]="slideOpts">

      <ion-slide>
        <div class="ficha">
          <div class="ficha-title">
            <h3>TREINO</h3><h5>A</h5>
          </div>
        </div>
      </ion-slide>

      <ion-slide>
        <div class="ficha">
          <div class="ficha-title">
            <h3>TREINO</h3><h5>A</h5>
          </div>
        </div>
      </ion-slide>
    
    </ion-slides>

    <ion-button (click)="logout()">Sair</ion-button>


  </div>
</ion-content>
