h6 {
  color: #8C8C8C;
  margin: 0;
  font-size: 14px;
  margin-top: 3px;
}

#sair {
  margin-top: 30px;
  margin-bottom: 10px;
}

#notificacoes {
  color: #505050;
  font-size: 27px;
}

.fundo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding: 25px;
  padding-top: 60px;

  div.container-lr {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      div.top-perfil {
        width: 100%;
        display: flex;
        flex-direction: row;

        div.bemvindo {
          display: flex;
          flex-direction: column;
          justify-content: center;

          h2 {
            margin: 0;
            font-size: 18px;
          }

          h6 {
              color: #8C8C8C;
              margin: 0;
              font-size: 14px;
          }
        }

      }

  }

ion-slides {
  
  margin: 0;

  ion-slide {

  .categoria {
    min-width: 55px;
    min-height: 55px;
    max-width: 55px;
    max-height: 55px;
    background-color: #d9d9d9;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7px;
  }
  
  width: auto !important;

  .ficha {

    min-width: 200px;
    max-width: 200px;
    min-height: 260px;
    max-height: 260px;
    border-radius: 10px;
    background-color: #95EAFF;
    padding: 12px 15px;
    

    .ficha-title {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 40px;

      h3 {
        font-family: 'Ubuntu';
        margin-left: -1px;
      }

      h5 {
        font-family: 'Ubuntu';
        border-radius: 50%;
        background-color: #4D42FF;
        color: white;
        width: 25px;
        height: 25px;
        margin: 0px 5px;
        padding-left: 1px;
        font-size: 19px;
        margin-top: 6px;
      }
    }

    h5.regiao {
      font-size: 15px;
      text-align: left;
      font-size: 17px;
      text-align: left;
      font-weight: bold;
      margin-bottom: 0px;
      margin-top: 10px;
    }

    p{
      font-size: 12px;
      text-align: left;
    }

    div.containerFichaInfo {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 20px 0px;
      width: 100px;

      div.fichainfo {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        padding: 7px 12px;
        font-size: 15px;
        font-weight: bold;
        width: 100px;
        border-radius: 25px;
        color: black;
        margin-bottom: 9px;

        ion-icon {
          margin-right: 3px;
          font-size: 22px;
        }
      }
    }

  }
}
}
}


